<h1>Where is Big Foot?</h1>
<h2>Location</h2>
<p>
  Latitude: <%= location.lat %>, Longitude: <%= location.lng %>
</p>
<h2>Snapshots</h2>
<p>
  <%= for img <- snapshots do %>
    <li><%= img %></li>
  <% end %>
</p>
