<h1>Make a pledge</h1>
<p>
<form action="/pledges" method="post">
  Name: <input type="text" name="name"><br/>
  Amount: <input type="number" name="amount"><br/>
  <input type="submit" value="Submit">
</form>
</p>
